* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgba(117, 117, 117, 0.662);
}

#bitego-logo {
    width: 80px;
}

.left-links {
    display: flex;
    margin-left: 25px;
    gap: 15px;
}

.search-bar {
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: whitesmoke;
    width: 300px;
    padding: 10px;
    margin-left: calc(50% - 330px);
    margin-right: calc(50% - 200px);
}

#right-link {
    display: flex;
}

.search-bar input {
    border: none;
    width: 210px;
    margin-left: 10px;
    font-size: large;
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder {
    background-color: whitesmoke;
    color: #999;
}

#search-symbol {
    width: 25px;
}





main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.banner div {
    position: absolute;
}

.banner img {
    height: 43vh;
}

.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.recommendations h1 {
    margin: 30px;
}

.recommend-images {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.rec-image {
    width: 27%;
}





.reg-form {
    display: flex;
    justify-content: center;
    align-items: center;
}