* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e4e5ff;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px 20px;
    background-color: #f4fbff;
}

nav img {
    width: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ======Onboard Page===== */

.page-onboard .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.page-onboard .card {
    background-color: white;
    width: 320px;
    height: 450px;
    padding: 30px 20px;
    border-radius: 20px;
    text-align: center;
}

.page-onboard .card-logo {
    width: 150px;
    margin-bottom: 10px;
}

.page-onboard .card p {
    font-size: 14px;
    margin-bottom: 55px;
    font-weight: bold;
}

.page-onboard #opt {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.page-onboard #opt a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 15px;
}

.page-onboard .signup {
    background-color: #6f74ff;
    color: white;
}

.page-onboard .login {
    background-color: #d9d9d9;
    color: black;
}


/* =====Register Page ====== */
.page-register #register-form {
    width: 360px;
    background-color: white;
    margin: 60px auto;
    padding: 30px 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.page-register .card-logo {
    width: 90px;
    margin-bottom: 10px;
}

.page-register h3 {
    color: #5a5aff;
    font-size: 24px;
    margin-bottom: 20px;
}

.page-register #register-form div {
    margin-bottom: 12px;
}

.page-register input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: solid 2px rgb(160, 160, 160);
    background-color: #e0e0e0;
    padding: 5px 15px;
    outline: none;
    font-size: 12px;
}

.page-register input:focus {
    background-color: #d6d6ff;
}

.page-register #register-button {
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: #5a5aff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

.page-register #register-form p {
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
}

.page-register #register-form a {
    color: #5a5aff;
    font-weight: bold;
    text-decoration: none;
}


/* ====== Login Page ====== */

.page-login #login-form {
    width: 360px;
    background-color: white;
    margin: 60px auto;
    padding: 30px 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.page-login .card-logo {
    width: 90px;
    margin-bottom: 10px;
}

.page-login h3 {
    color: #5a5aff;
    font-size: 24px;
    margin-bottom: 20px;
}

.page-login #login-form div {
    margin-bottom: 12px;
}

.page-login input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: solid 2px rgb(160, 160, 160);
    background-color: #e0e0e0;
    padding: 5px 15px;
    outline: none;
    font-size: 12px;
}

.page-login input:focus {
    background-color: #d6d6ff;
}

.page-login #login-button {
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: #5a5aff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

.page-login #login-form p {
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
}

.page-login #login-form a {
    color: #5a5aff;
    font-weight: bold;
    text-decoration: none;
}


/* ========Home======= */

.home-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.home-page nav img {
    height: 50px;
}

.home-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 5px;
}

.home-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}

.home-page .hero {
    margin: 30px 40px;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    text-align: center;
}

.home-page .hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    border-radius: 24px;
}

.home-page .menu-section {
    padding: 40px;
}

.home-page .menu-section h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.home-page .menu-grid {
    margin: 50px;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
}

.home-page .menu-card {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.home-page .menu-card img {
    width: 95%;
    height: 250px;
    width: 280px;
    object-fit: cover;
    display: flex;
    border-radius: 10px;
    margin: 10px;
}

.home-page .menu-card .info {
    padding: 12px 16px;
    flex: 1;
}

.home-page .menu-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.home-page .menu-card p {
    margin: 0;
    font-size: 14px;
    color: #292929;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.home-page .button-container {
    display: flex;
    justify-content: center;
}

.home-page .show-all {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background-color: #4a4cff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    align-items: center;
}

.home-page .show-all:hover {
    background-color: #3737d9;
}

.home-page .location i {
    margin: 0;
    align-items: center;
    gap: 6px;
    color: #6b5cff;
    padding-left: 10px;
}

.home-page .location span{
    margin: 0;
    font-size: 14px;
    color: #292929;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}


/* ========Vendor======= */

.vendor-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.vendor-page nav img {
    height: 50px;
}

.vendor-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 5px;
}

.vendor-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}


/* ========Menu======= */

.menu-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.menu-page nav img {
    height: 50px;
}

.menu-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 5px;
}

.menu-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}

.menu-page h2{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 40px;
}

#add_menu {
width: 500px;
background: #ffffff;
margin: 30px auto 40px auto;
padding: 30px 40px;
border-radius: 10px;
box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


#add_menu form label {
font-weight: bold;
margin-top: 15px;
margin-bottom: 5px;
display: block;
}

#add_menu form input[type="text"],
#add_menu form textarea{
width: 100%;
padding: 10px;
border-radius: 5px;
border: 1px solid #969494;
background-color: #D9D9D9;
}

#add_menu form input[type="file"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #969494;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    background-color: #D9D9D9;
}

textarea {
resize: none;
height: 100px;
}


#add_menu button {
margin-top: 30px;
width: 100%;
padding: 12px;
background: #5B5BFF;
border: none;
color: #fff;
font-size: 16px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
}


#add_menu button:hover {
background: #3f3fff;
}


/* ========Restaurants======= */

.restaurants-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.restaurants-page nav img {
    height: 50px;
}

.restaurants-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 5px;
}

.restaurants-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}


.restaurants-page h2 {
    margin: 30px 40px 20px;
    font-size: 30px;
    color: #222;
}

.restaurants-page .cards {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    justify-content: center;
}

.restaurants-page .card-link {
    text-decoration: none;
    color: inherit;
}

.restaurants-page .card {
    background-color: white;
    border-radius: 16px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.restaurants-page .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.15);
}

.restaurants-page .card img {
    width: 95%;
    height: 250px;
    width: 280px;
    object-fit: cover;
    display: flex;
    border-radius: 10px;
    margin: 10px;
}

.restaurants-page .card p {
    margin: 10px;
    font-size: 14px;
    color: #292929;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.restaurants-page .card p:first-of-type {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .restaurants-page nav {
        padding: 12px 20px;
    }

    .restaurants-page h1 {
        margin: 20px;
    }

    .restaurants-page .cards {
        padding: 0 20px 30px;
    }
}

.restaurants-page .show-all:hover {
    background-color: #3737d9;
}

.restaurants-page .location i {
    margin: 10px;
    align-items: center;
    gap: 6px;
    color: #6b5cff;
    padding-left: 10px;
}

.restaurant-page .location span{
    margin: 0;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}


/* ========Details======= */
.detail-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.detail-page nav img {
    height: 50px;
}

.detail-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-left: 5px;
}

.detail-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}


.detail-page header {
    padding: 20px 40px;
}

.detail-page .back-btn {
    text-decoration: none;
    color: #5a6bff;
    font-weight: 600;
    font-size: 16px;
}

.detail-page .vendor-info {
    display: flex;
    gap: 24px;
    padding: 30px 40px;
    background: #eef0ff;
}

.detail-page .vendor-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 16px;
}

.detail-page .vendor-info h2 {
    margin: 0;
    font-size: 22px;
    color: #111;
}

.detail-page .vendor-info p {
    margin: 6px 0;
    color: #555;
    font-size: 14px;
}

.detail-page .menu-title {
    padding: 20px 40px 10px;
    font-size: 20px;
    font-weight: 700;
    color: #111;
}


.detail-page .menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    padding: 16px 32px 40px;
}


.detail-page .menu-card {
    background: #ffffff;
    border-radius: 14px;
    padding: 12px;
    border: 1px solid #e5e7ff;
    display: flex;
    flex-direction: column;
}

.detail-page .menu-card:hover {
    transform: translateY(-4px);
}

.detail-page .menu-link {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
}

.detail-page .menu-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 8px;
}

.detail-page .menu-card h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 4px 0;
    color: #111;
}

.detail-page .menu-card p {
    font-size: 12px;
    color: #666;
    margin: 2px 0;
    line-height: 1.4;
}

.detail-page .menu-card strong {
    font-size: 13px;
    margin-top: 6px;
    color: #111;
}

.detail-page .add-cart {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #5f6bff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.detail-page .add-cart:hover {
    background: #4b56e6;
}

.detail-page .login-cart {
    display: block;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .detail-page .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .detail-page .menu-grid {
        grid-template-columns: 1fr;
    }
}


/* ========Detail Page======= */
.detail-menu-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.detail-menu-page nav img {
    height: 50px;
}

.detail-menu-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-left: 5px;
}

.detail-menu-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}


.detail-menu-page header {
    padding: 20px 40px;
}

.detail-menu-page header .logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.detail-menu-page header img {
    height: 36px;
}

.detail-menu-page header a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
    font-weight: bold;
}

.detail-menu-page .btn-login {
    background: #4f5bff;
    color: #fff;
    padding: 6px 16px;
    border-radius: 999px;
    font-size: 13px;
    text-decoration: none;
}

.detail-menu-page .back-btn {
    color: #4f5bff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


.detail-menu-page .container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: fit-content;
    border-radius: 10px;
}


.detail-menu-page .menu-card {
    width: 320px;
    padding: 16px;
    text-align: center;
}

.detail-menu-page .menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
}

.detail-menu-page .menu-card h2 {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 600;
}

.detail-menu-page .menu-card .desc {
    font-size: 12px;
    color: #666;
    margin-bottom: 14px;
    line-height: 1.4;
}

.detail-menu-page .nutrition {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.detail-menu-page .nutrition span {
    font-size: 12px;
    color: #666;
}

.detail-menu-page .nutrition b {
    display: block;
    margin-top: 2px;
    color: #111;
}

.detail-menu-page .detail-box {
    background: #fff;
    width: 320px;
    padding: 16px;
}

.detail-menu-page .detail-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 13px;
    margin-bottom: 16px;
}


.detail-menu-page .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.detail-menu-page .price {
    font-size: 16px;
    font-weight: 600;
}

.detail-menu-page .qty {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detail-menu-page .qty button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background: #e5e7ff;
    font-size: 16px;
    cursor: pointer;
}

.detail-menu-page .qty span {
    font-size: 14px;
}


.detail-menu-page .add-cart {
    width: 100%;
    padding: 10px 0;
    border-radius: 999px;
    border: none;
    background: #4f5bff;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.detail-menu-page .add-cart:hover {
    background: #3f49e6;
}

@media (max-width: 768px) {
    .detail-menu-page .container {
        flex-direction: column;
        align-items: center;
    }
}


/* Cartt */
.cart-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.cart-page nav img {
    height: 50px;
}

.cart-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-left: 5px;
}

.cart-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}

.cart-page {
    background: #efefff;
    min-height: 100vh;
    padding-bottom: 90px; 
}


.cart-page .page-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}


.cart-page .cart-container {
    background: #ffffff;
    width: 720px;
    max-width: 92%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 16px;
}


.cart-page .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #5f6bff;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 14px;
}


.cart-page .menu-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 14px;
}


.cart-page .menu-info {
    flex: 1;
}

.cart-page .menu-info h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.cart-page .nutrition {
    font-size: 12px;
    color: #666;
    margin-bottom: 6px;
}

.cart-page .price {
    font-size: 13px;
    font-weight: 600;
}


.cart-page .qty-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.cart-page .qty-control span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #e5e7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.cart-page .qty-control b {
    font-size: 14px;
}


.cart-page .cart-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #7a7cff;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-page .total {
    color: #fff;
    font-size: 14px;
}

.cart-page .total b {
    font-size: 15px;
}


.cart-page .btn-primary {
    background: #3945ff;
    color: #fff;
    padding: 10px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.cart-page .btn-primary:hover {
    background: #2f3ae6;
}


@media (max-width: 600px) {
    .cart-page .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-page .qty-control {
        margin-top: 10px;
        align-self: flex-end;
    }
}


/* =====PEMBAYARAN===== */
.check-page nav {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    background-color: #f8fbff;
    border-bottom: 3px solid #3D3DFF;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.checkout-page nav img {
    height: 50px;
}

.checkout-page nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-left: 5px;
}

.checkout-page .login-btn {
    margin-left: auto;
    background-color: #4a4cff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
}


.checkout-page .page-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 0;
}


.checkout-page .checkout-container {
    background: #ffffff;
    width: 420px;
    max-width: 92%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 16px;
}

.checkout-page .address-box {
    margin-bottom: 20px;
}

.checkout-page .address-box label {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

.checkout-page .address-box textarea {
    width: 100%;
    height: 60px;
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    background: #f3f3f3;
    font-size: 12px;
}

.checkout-page .order-list h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.checkout-page .order-item {
    display: flex;
    align-items: center;
    border: 1px solid #5f6bff;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 12px;
}


.checkout-page .menu-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 12px;
}

.checkout-page .menu-info {
    flex: 1;
}

.checkout-page .menu-info h4 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px;
}

.checkout-page .nutrition {
    font-size: 11px;
    color: #666;
    margin-bottom: 4px;
}

.checkout-page .price {
    font-size: 12px;
    font-weight: 600;
}

.checkout-page .qty {
    font-size: 12px;
    font-weight: 600;
    margin-left: 6px;
}


.checkout-page .cart-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #7a7cff;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-page .total {
    color: #ffffff;
    font-size: 14px;
}

.checkout-page .total b {
    font-size: 15px;
}


.checkout-page .btn-primary {
    background: #3945ff;
    color: #fff;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.checkout-page .btn-primary:hover {
    background: #2f3ae6;
}


@media (max-width: 600px) {
    .checkout-page .checkout-container {
        width: 94%;
    }
}
